Repository hacf-fr/sfrbox-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, ruff-check, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

Switch to prek and add codespell, yamllint and zizmor
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .pre-commit-config.yaml
  .vscode/tasks.json
  .yamllint
  CONTRIBUTING.md
  example.py
  pyproject.toml
  uv.lock
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Add Dev Container configuration
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
Due: none

Switch to prek and add codespell, yamllint and zizmor (#871)
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .pre-commit-config.yaml
  .vscode/tasks.json
  .yamllint
  CONTRIBUTING.md
  example.py
  pyproject.toml
  uv.lock
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Use covdefaults for coverage configuration
  pyproject.toml
  uv.lock
Due: check-toml

Add AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

Add AGENTS.md (#874)
  AGENTS.md
  CLAUDE.md
Due: none

Use covdefaults for coverage configuration (#873)
  pyproject.toml
  uv.lock
Due: check-toml

Install the prek git hook in the Dev Container
  .devcontainer/devcontainer.json
Due: none

Clean up ruff configuration
  docs/conf.py
  example.py
  pyproject.toml
  src/sfrbox_api/bridge.py
  src/sfrbox_api/helpers.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade

Add Dev Container configuration (#872)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
Due: none

Clean up ruff configuration (#875)
  docs/conf.py
  example.py
  pyproject.toml
  src/sfrbox_api/bridge.py
  src/sfrbox_api/helpers.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade
