Repository hacf-fr/sfrbox-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, ruff-check, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

Adjust readme badges
  README.md
Due: none

Adjust readme badges (#653)
  README.md
Due: none

Update renovate configuration and disable dependabot
  .github/dependabot.yml
  .github/renovate.json
Due: check-yaml

Update renovate configuration and disable dependabot (#723)
  .github/dependabot.yml
  .github/renovate.json
Due: check-yaml

Drop env
  .github/workflows/release.yml
Due: check-yaml

Add call history support
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
Due: black, ruff-check, pyupgrade

Add call history test
  tests/fixtures/voip.getCallHistory.xml
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Fix codecov issue / ignore false-positive type issue
  src/sfrbox_api/bridge.py
Due: black, ruff-check, pyupgrade

Add voip getInfo support
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
Due: black, ruff-check, pyupgrade

Add voip getInfo test
  tests/fixtures/voip.getInfo.xml
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Add VOIP getInfo support (#751)
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
  tests/fixtures/voip.getInfo.xml
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Renamed methods and classes
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Add call history support (#750)
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
  tests/fixtures/voip.getCallHistory.xml
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Rename `VoipCallHistoryList` `entries` property to `calls` (follow up to #750)
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Rename `VoipCallHistoryList` property (#752)
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Bump version to 0.1.1
  pyproject.toml
Due: check-toml

Bump version to 0.1.1 (#753)
  pyproject.toml
Due: check-toml

Fix ruff isort config and remove unused noqa comments
  noxfile.py
  pyproject.toml
  src/sfrbox_api/bridge.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade

Remove darglint, typeguard, Pygments and safety
  .darglint
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Release on published GitHub release
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

Add Scorecard and Dependency Review workflows, pin action digests
  .github/renovate.json
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
Due: check-yaml

Add labels, issue and PR templates, security and AI policies
  .editorconfig
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/issue.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/labels.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yaml
  AI_POLICY.md
  CONTRIBUTING.md
Due: check-yaml

Drop the Hypermodern Python Cookiecutter reference
  .cookiecutter.json
  README.md
Due: none

Remove darglint, typeguard, Pygments and safety (#857)
  .darglint
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Fix ruff isort config and remove unused noqa comments (#856)
  noxfile.py
  pyproject.toml
  src/sfrbox_api/bridge.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade

Drop the Hypermodern Python Cookiecutter reference (#861)
  .cookiecutter.json
  README.md
Due: none

Add labels, issue and PR templates, security and AI policies (#860)
  .editorconfig
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/issue.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/labels.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yaml
  AI_POLICY.md
  CONTRIBUTING.md
Due: check-yaml

Add Scorecard and Dependency Review workflows, pin action digests (#859)
  .github/renovate.json
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
Due: check-yaml

Release on published GitHub release (#858)
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

Replace mypy with ty
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Run Prettier 3 from npm
  .github/labels.yml
  .github/renovate.json
  .github/workflows/tests.yml
  .gitignore
  .nvmrc
  .pre-commit-config.yaml
  .prettierignore
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: check-yaml

Run Prettier 3 from npm (#865)
  .github/labels.yml
  .github/renovate.json
  .github/workflows/tests.yml
  .gitignore
  .nvmrc
  .pre-commit-config.yaml
  .prettierignore
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: check-yaml

Fix the sfrbox-api console script and CLI docs
  docs/usage.md
  pyproject.toml
Due: check-toml

Migrate from Poetry and nox to uv
  .github/renovate.json
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/tasks.json
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Replace mypy with ty (#864)
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Migrate tests to aiointercept and update aiohttp to 3.14.3
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade

Fix the sfrbox-api console script and CLI docs (#868)
  docs/usage.md
  pyproject.toml
Due: check-toml

Migrate tests to aiointercept and update aiohttp to 3.14.3 (#870)
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade

Update vulnerable dev and docs dependencies in uv.lock
  uv.lock
Due: none

Migrate from Poetry and nox to uv (#869)
  .github/renovate.json
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/tasks.json
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  pyupgrade: any of: \.py$
