Repository hacf-fr/sfrbox-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, ruff-check, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

Add contents write
  .github/workflows/release.yml
Due: check-yaml

Update
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

Contents-only
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

Cleanup
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

Migrate to trusted publishing (#514)
  .github/workflows/release.yml
Due: check-yaml

Drop support for python 3.9
  .github/workflows/tests.yml
  CONTRIBUTING.md
  noxfile.py
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Update lock file
  poetry.lock
Due: none

Drop Optional
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
Due: black, ruff-check, pyupgrade

Drop support for python 3.9 (#526)
  .github/workflows/tests.yml
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Fix deprecation warnings
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: check-toml, check-yaml

Update
  .github/workflows/tests.yml
Due: check-yaml

One more
  .pre-commit-config.yaml
Due: check-yaml

Fix deprecation warnings (#527)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Fixes for BOX10H-XbSP-1.6.14.1 firmware
  src/sfrbox_api/models.py
  tests/fixtures/system.getInfo.BOX10H-XbSP-1.6.14.1.xml
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Fixes for BOX10H-XbSP-1.6.14.1 firmware (#578)
  src/sfrbox_api/models.py
  tests/fixtures/system.getInfo.BOX10H-XbSP-1.6.14.1.xml
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Replace httpx with aiohttp
  example.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
  tests/conftest.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade

Replace httpx with aiohttp (#579)
  example.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
  tests/conftest.py
  tests/test_bridge.py
Due: black, check-toml, ruff-check, pyupgrade

Bump version to 0.1.0
  pyproject.toml
Due: check-toml

Bump version to 0.1.0 (#584)
  pyproject.toml
Due: check-toml

Add renovate
  .github/workflows/renovate.yml
Due: check-yaml

Adjust
  .github/workflows/renovate.yml
Due: check-yaml

Add permissions
  .github/workflows/renovate.yml
Due: check-yaml

Add config
  .github/renovate-config.json
  .github/workflows/renovate.yml
Due: check-yaml

Adjust
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-yaml

Apply suggestions from code review
  .github/renovate.json
Due: none

Add renovate configuration (#621)
  .github/renovate.json
Due: none

Adjust renovate configuration
  .github/renovate.json
Due: none

Adjust renovate configuration (#626)
  .github/renovate.json
Due: none

Drop xdoctest
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Drop xdoctest (#648)
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Add Python 3.12/3.13/3.14 to CI
  .github/workflows/tests.yml
  pyproject.toml
Due: check-toml, check-yaml

Adjust
  .github/workflows/tests.yml
  noxfile.py
Due: black, check-yaml, ruff-check, pyupgrade

Add Python 3.12/3.13/3.14 to CI (#649)
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Update code coverage configuration
  .github/workflows/tests.yml
  codecov.yml
  pyproject.toml
Due: check-toml, check-yaml

Update code coverage configuration (#650)
  .github/workflows/tests.yml
  codecov.yml
  pyproject.toml
Due: check-toml, check-yaml

Update readthedocs configuration
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, ruff-check, pyupgrade

Adjust
  .readthedocs.yml
Due: check-yaml

Update readthedocs configuration (#651)
  .readthedocs.yml
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  pyupgrade: any of: \.py$
