Repository hacf-fr/sfrbox-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, ruff-check, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

Adjust
  example.py
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
Due: black, ruff-check, pyupgrade

Adjust
  example.py
Due: black, ruff-check, pyupgrade

Replace flake8/isort with ruff (#328)
  .flake8
  .pre-commit-config.yaml
  example.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Replace black with ruff
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Adjust violations
  src/sfrbox_api/bridge.py
  src/sfrbox_api/cli/__main__.py
  src/sfrbox_api/helpers.py
  src/sfrbox_api/models.py
  tests/cli/test_main.py
  tests/test_bridge.py
  tests/test_helper.py
Due: black, ruff-check, pyupgrade

Adjust
  docs/conf.py
  poetry.lock
Due: black, ruff-check, pyupgrade

Replace black with ruff (#329)
  .pre-commit-config.yaml
  docs/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
  src/sfrbox_api/cli/__main__.py
  src/sfrbox_api/helpers.py
  src/sfrbox_api/models.py
  tests/cli/test_main.py
  tests/test_bridge.py
  tests/test_helper.py
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Replace pydantic with mashumaro
  poetry.lock
  pyproject.toml
  src/sfrbox_api/models.py
Due: black, check-toml, ruff-check, pyupgrade

Adjust
  src/sfrbox_api/bridge.py
Due: black, ruff-check, pyupgrade

Replace pydantic with mashumaro (#330)
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
  src/sfrbox_api/models.py
Due: black, check-toml, ruff-check, pyupgrade

Bump version to 0.0.11
  pyproject.toml
Due: check-toml

Bump version to 0.0.11 (#331)
  pyproject.toml
Due: check-toml

Replace pyupgrade with ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml

Update lock file
  poetry.lock
Due: none

Replace pyupgrade with ruff (#342)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/sfrbox_api/bridge.py
Due: black, check-toml, check-yaml, ruff-check, pyupgrade

Fix safety warnings
  noxfile.py
Due: black, ruff-check, pyupgrade

Bump anyio
  poetry.lock
  pyproject.toml
Due: check-toml

Fix safety warnings (#343)
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, ruff-check, pyupgrade

Fix workflow
  .github/workflows/tests.yml
Due: check-yaml

Adjust
  noxfile.py
Due: black, ruff-check, pyupgrade

Fix workflow (#345)
  .github/workflows/tests.yml
  noxfile.py
Due: black, check-yaml, ruff-check, pyupgrade

Use PEP 604
  src/sfrbox_api/models.py
Due: black, ruff-check, pyupgrade

Allow to pass a full URL instead of just an IP
  src/sfrbox_api/bridge.py
Due: black, ruff-check, pyupgrade

Added some tests
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Bump minimum python version to 3.9.2
  pyproject.toml
Due: check-toml

Bump minimum python version to 3.9.2 (#407)
  pyproject.toml
Due: check-toml

Install export plugin explicitly
  .github/workflows/tests.yml
Due: check-yaml

Add poetry-plugin-export
  pyproject.toml
Due: check-toml

Poetry lock
  poetry.lock
Due: none

Adjust
  pyproject.toml
Due: check-toml

Add poetry-plugin-export (#408)
  pyproject.toml
Due: check-toml

Apply suggestions from code review
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Allow to pass a full URL instead of just an IP (#388)
  src/sfrbox_api/bridge.py
  tests/test_bridge.py
Due: black, ruff-check, pyupgrade

Bump version to 0.0.12
  pyproject.toml
Due: check-toml

Bump version to 0.0.12 (#460)
  pyproject.toml
Due: check-toml

Migrate to trusted publishing
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml
